<section class="singleFruitBox">
    <div>

        <!-- <img src="../../assets/img/fruits/" alt="" srcset=""> -->

        @if (fruit.stars < 5) { <img src="./assets/img/fruits/{{fruit.img}}" alt="" srcset="">
            <!-- statt der 5 eine 3 eingeben und dann erscheint banana fehlt -->
            } @else {
            banana fehlt
            }

    </div>
    <div>
        <h2> {{fruit.name}}</h2>
        <div>
            <p><b>Bewertung:</b></p>
            <div>
                @for (count of [0,1,2,3,4]; track fruit) { <!-- //if else abfrage für die bilder -->
                @if (fruit.stars >= count) {
                <img src="./assets/img/stars/star.svg" alt="" srcset="">
                } @else if (fruit.stars >= count - 0.5) {
                <img src="./assets/img/stars/star-half.svg" alt="" srcset="">
                } @else {
                <img src="./assets/img/stars/star-empty.svg" alt="" srcset="">
                }
                }

                <!-- <img src="./assets/img/stars/star.svg" alt="" srcset="">     //if else abfrage für die bilder
                <img src="./assets/img/stars/star.svg" alt="" srcset="">
                <img src="./assets/img/stars/star.svg" alt="" srcset="">
                <img src="./assets/img/stars/star-half.svg" alt="" srcset="">
                <img src="./assets/img/stars/star-empty.svg" alt="" srcset=""> -->

                <!-- Wenn du Bedingungen prüfen willst (wie if, else if), kannst du @switch(true) schreiben. 
                Dann prüfst du einzelne @case, ob sie true ergeben. -->

                <!-- @for (count of [0,1,2,3,4]; track $index)
                @switch (getStarType(item.stars, count))
                  @case ('full')
                    <img src="./assets/img/stars/star.svg" alt="">
                  @case ('half')
                    <img src="./assets/img/stars/star-half.svg" alt="">
                  @default
                    <img src="./assets/img/stars/star-empty.svg" alt="">
                @end
              @end -->

                <p>({{fruit.stars}})</p>

<!-- man kann funktion bauen und in .ts reinschieben, das hier: {'color': item.stars > 3 ? fontColorGood : fontColorBad, 'background-color':'white'} -->

                <!-- <p [ngClass]="'fontColorBad'" >({{item.stars}})</p>   --> <!-- //ist im sccs drin -->
                <!-- <p [ngStyle]="{'color': item.stars > 3 ? fontColorGood : fontColorBad, 'background-color':'white'}" >({{item.stars}})</p>   -->
                <!-- <p [ngStyle]="{color: fontColor}" >({{item.stars}})</p>   -->
                <!-- // hier wird die farbe gelb gesetzt, in der fruitlist.component.ts -->
                <!-- oder die backgroundcolor machen mit:  <p [ngStyle]="{'background-color': fontColor}" >({{item.stars}})</p>  -->
            </div>
        </div>
        <div><b>Art:</b><br>{{fruit.genus}}</div>
        <div><b>Beschreibung:</b><br>{{fruit.description}}</div>
        <div>
            <div>
                @for (review of fruit.reviews; track review){
                <div><b>{{review.name}}:</b><br>{{review.text}}</div>
                }@empty {
                no comments available
                }
            </div>  <!-- [(ngModel)] eckicke klammer sind die box die runden klammern sind die banana -->
            <div><input [(ngModel)]="inputData" type="text"><button><img (click)="sendInputData()" src="./assets/img/arrow-35-32.png" alt="" srcset=""></button> //event wird emittet, wenn man auf Pfeil klickt bei Erdbeere z.B. wird in der Consolenleiste "Erdbeere" ausgegeben
            </div>
        </div>
    </div>
</section>